body {
  background-color: white;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}
a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.logo {
    float: none;   
}

.nav {
  background-color: #5F9EA0;
  color: white;
}

.nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  font-size: 0px;
}

.nav ul li {
  padding: 16px;
  text-align: center;
  font-size: large;
  border-bottom: 1px solid black;

  
}

.nav ul li:hover {
  background-color: black; 
}

.thump-news-img {
  padding-right: 15px;
  float: left;
}

.align-text{
  text-align: justify;
}   

.image-area {
  background-image:url('../images/background.jpg');
  background-color:black;
  background-position: center center;
background-size: cover;
  
  padding-top: 200px;
  padding-bottom: 200px;
}

.centered-container {
  max-width: 1020px;
  margin: 0px auto;
  padding: 0px 16px;
    
}

.image-text {
  text-align: center;
  background-color: black;
  color: white;
  font-size: xx-large;
    opacity: 0.5;
  

}

.intro-text {
  color: gray;
  font-size: x-large;
  text-align: center;
  padding-top: 50px;
  
}

.red-text {
color: #8B0000;
}

.single-service {
  text-align: center;
  margin-bottom: 32px;
}

.single-service p {
  padding: 0px 16px;
  text-align: center;
  font-size: large;
}

.black-small-text {
 
  text-align: center;
  font-size: small;
    color: black;
   
}
.wrapper {
	min-height:100%;
	position:relative;
}
.header {
	background:#5F9EA0;
	padding:0px;
}
.content {
	padding-bottom:100px;

}
.footer {
    padding-top: 20px;
	background:#dddddd;
    clear: both;
    position: relative;
    height: 200px;
    text-align: center;
    
}

.iframe
{
    border:0;
    width:300px;
    height:225px;
}

.map-iframe
{
   
    border:0;
    width:100%;
    height:300px;
}



    @media screen and (min-width: 700px) {
    
    .logo {
    float: left;  
    
}
       
  .nav ul {
    text-align: right;
  }

  .nav ul li {
    display: inline-block;
    border-bottom: 0px;
    border-left: 1px solid black;
    text-align: left;
  }

  .single-service {
    width: 50%;
    float: left;
  }
}
